<div>
  <table id="scriptTable" class="table table-bordered table-hover">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Path</th>
      <th></th>
    </tr>
    {{#if loading}}
      <tr>
        <td class="col-wide" colspan="5">loading...</td>
      </tr>
    {{else}}
      {{#each script in scripts}}
        {{render 'scriptTableRow' script}}
      {{/each}}
      {{#unless scripts}}
        <tr>
          <td class="col-wide" colspan="5">No scripts found in selected database.</td>
        </tr>
      {{/unless}}
    {{/if}}
  </table>
</div>